body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

.side-nav {
  width: 70%;
}
.navbar-fixed {
      z-index:998;
    }

 .google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

    .flow-text {
      text-align: justify;
    }


#frontImage {
  /*height: 20rem;*/
  background-image: url(../assets/pizza-background.jpeg);
  background-size: cover;
  background-position: center;
}
